*{
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html{
	font-size: 62.5%;
}

body{
	font-size: 1.6;
	font-family: poppins;
	box-sizing: border-box;
	text-align: center;
}

h1{
	font-size: 6rem;
	color: tomato;
	text-transform: uppercase;
	margin-bottom: 5rem;
}

h2{
	font-size: 4rem;
	color: #252525;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

h3{
	font-size: 2.4rem;
	color: #eee;
}